@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* html{
  height:100%
}

.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main{
  flex:1
} */

#__next{
  min-height: calc(100vh- 120px) !important;
}
body {
   color: rgb(var(--foreground-rgb));
   background: url('../../public/assets/bg2.jpg');
   background-size: cover;
   background-attachment: fixed;
   object-fit: cover;
   position: absolute;
   left:0;
   right:0;
   top:0;
   bottom:0;
   background-repeat: no-repeat;
/*    
   width: 100%;
   margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('../../public/assets/bg4.png');
  background-size: cover;
  background-repeat: no-repeat; */

}

ul>li,a{
  list-style-type : none !important;
  color:black;
  text-decoration: none;
}
ul>li,a:hover{
  color:#FEFEFE;
  transition: color 0.4s;
}


